## Upload data to the PostgresSQL db

In [65]:
import pandas as pd
from sqlalchemy import create_engine, inspect

In [17]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [67]:
tables = inspect(engine).get_table_names()

In [68]:
tables

['green_taxi_data', 'zones']

In [36]:
df_iter = pd.read_csv('./data/green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [37]:
df = next(df_iter)

In [38]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [39]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [26]:
len(df)

100000

In [40]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [28]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

Wall time: 14.6 s

1000

In [29]:
from time import time

In [41]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('Inserted another chunk, took %.3f second' % (t_end - t_start))

Inserted another chunk, took 14.303 second
Inserted another chunk, took 11.034 second

C:\Users\hamza\AppData\Local\Temp\ipykernel_7308\4031329358.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk, took 10.952 second
Inserted another chunk, took 4.526 second

StopIteration:

In [42]:
from sqlalchemy import text

query = text("SELECT COUNT(*) FROM green_taxi_data;")

pd.read_sql_query(query, engine)

    count
0  349063

In [44]:
df_zones = pd.read_csv('./data/taxi+_zone_lookup.csv')

In [45]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [46]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

### Question 3. Count records

In [48]:
query = text("""
SELECT COUNT(*) AS total_trips
FROM green_taxi_data
WHERE
DATE(lpep_pickup_datetime) = '2019-09-18'
AND DATE(lpep_dropoff_datetime) = '2019-09-18';
""")

pd.read_sql_query(query, engine)

   total_trips
0        15612

### Question 4. Largest trip for each day

In [50]:
query = text("""
SELECT
    DATE(lpep_pickup_datetime) AS pickup_day,
    SUM(trip_distance) AS total_trip_distance
FROM
    green_taxi_data
GROUP BY
    pickup_day
ORDER BY
    total_trip_distance DESC
LIMIT 1;
""")

pd.read_sql_query(query, engine)

   pickup_day  total_trip_distance
0  2019-09-26             58759.94